@font-face {
  font-family: 'Archangelsk';
  src: url('src/fonts/Archangelsk.ttf') format('truetype');
}
/* some changes */
.container {
  max-width: 1920px;
  margin: 0;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Archangelsk';
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}
.header {
  /* padding: px 0 0 0; */
  display: flex;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  width: 66%;
  height: 74px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 30px;
  margin-right: 5px;
}
.logo {
  background: no-repeat url('src/images/Cyberpunk_2077_logo\ 1.png');
  /* background-size: 100% 100%; */

  width: 296px;
  height: 74px;
}
.hidden {
  display: none;
}

.youtube {
  /* background-image: url("src/images/logotypes/youtube\ logo.svg"); */
  /* background-size: 100% 100%; */
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(248, 242, 0, 0);
}
.vk {
  /* background-image: url("src/images/logotypes/vk\ logo.svg"); */
  /* background-size: 100% 100%; */
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(248, 242, 0, 0);
}
.facebook {
  /* background-image: url("src/images/logotypes/facebook-rect\ logo.svg"); */
  /* background-size: 100% 100%; */
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(248, 242, 0, 0);
}
.twitter {
  /* background-image: url("src/images/logotypes/twitter-square\ logo.svg"); */
  /* background-size: 100% 100%; */
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(248, 242, 0, 0);
}
.twitch {
  /* background-image: url("src/images/logotypes/twitch\ logo.svg") ;
    background-size: 100% 100%; */
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(248, 242, 0, 0);
}
.instagram {
  /* background-image: url("src/images/logotypes/instagram-square\ logo.svg");
    background-size: 100% 100%; */
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(248, 242, 0, 0);
}
.vi {
  width: 1920px;
  height: 1000px;
  background: no-repeat url('src/images/11.png');
  background-size: 1920px 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.platforms {
  width: 624px;
  height: 369px;
  background-image: linear-gradient(
    135deg,
    rgba(248, 242, 0, 0) 5%,
    rgba(248, 242, 0, 1) 5%,
    rgba(248, 242, 0, 1) 20%,
    rgba(248, 242, 0, 1) 95%,
    rgba(248, 242, 0, 0) 95%
  );
  margin-right: 320px;
}

.platforms p {
  text-align: left;
  font-size: 62px;
  font-weight: 400;
  line-height: 63px;
  size: 484px;
  font-family: 'Archangelsk';
}
.platforms p,
.platforms button {
  margin-left: 60px;
  margin-bottom: 20px;
}

.about {
  background: #000000;
  width: 272px;
  height: 78px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 40px;
  color: rgba(248, 242, 0, 1);
  font-weight: 700px;
  text-align: center;
  border: none;
}

.nite-city {
  width: 1280px;
  height: 777px;
  padding-left: 320px;
  padding-right: 320px;
}
h2 {
  font-size: 62px;
  line-height: 63px;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 0px;
  font-weight: 400;
}
p {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 1);
}

.nite-city p {
  width: 952px;
}
.nite-city a,
.play a {
  color: rgb(18, 145, 224);
  text-decoration: none;
  font-weight: 700;
}

.fotos-grid {
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: 460px 788px;
  grid-template-rows: 196px 196px;
  gap: 34px;
}

.fotos-grid img:first-of-type {
  grid-column: 1/2;
}

.fotos-grid img:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.fotos-grid img:last-of-type {
  grid-column: 2/3;
  grid-row: 1/3;
}

.play {
  width: 1280px;
  height: 954px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 320px;
  padding-right: 320px;
  background-image: linear-gradient(
    white 0,
    black 70px,
    black 919px,
    rgba(248, 242, 0, 1) 954px
  );
}

.play div:first-of-type {
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 80px;
  margin-bottom: 80px;
}
.play div:last-of-type {
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.play h2 {
  color: white;
  padding-left: 30px;
  font-size: 62px;
  line-height: 63px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0px;
}
.play p {
  color: white;
}
.play .screnshot-form {
  width: 460px;
  height: 383px;
  /* padding-left: 320px; */
  background-color: #ffffff;
}
.play .ps-box-image {
  width: 788px;
  height: 456px;
}
.hp {
  width: 1280px;
  height: 676px;
  padding-left: 320px;
  padding-right: 320px;
  padding-top: 100px;
  background-color: rgba(248, 242, 0, 1);
  display: grid;
  grid-template-columns: 624px 624px;
  grid-template-rows: 430px 80px;
  gap: 20px;
}

.deep-hp {
  grid-column: 2/3;
  grid-row: 1/3;
  /* text-align: start; */
}

.deep-hp h2 {
  margin-top: 0px;
}

.deep-hp ul {
  padding-left: 0px;
}
.deep-hp ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  list-style-type: none;
  padding-bottom: 15px;
  /* vertical-align: middle; */
}

.deep-hp ul li:first-of-type::before {
  content: '';
  background-image: url('src/images/logotypes/color_lens.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.deep-hp ul li:nth-of-type(2):before {
  content: '';
  background-image: url('src/images/logotypes/auto_awesome.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding-right: 10px;
  padding-top: 4px;
  display: inline-block;
  vertical-align: middle;
}
.deep-hp ul li:last-of-type:before {
  content: '';
  background-image: url('src/images/logotypes/auto_awesome_motion.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5px;
}
.deep-hp .about {
  margin-top: 20px;
}
.logos {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  width: 540px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 30px; */
}

.buy {
  width: 1920px;
  height: 717px;
  display: flex;
}

.buy img {
  width: 944px;
}

.buy h2 {
  color: white;
}
.buy h3 {
  font-family: 'Roboto', sans-serif;
  color: rgb(82, 190, 220);
  font-size: 24px;
  font-weight: 700px;
  line-height: 28px;
}
.buy > div {
  background-color: #000000;
  width: 960px;
  padding-left: 16px;
}
.buy ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: white;
  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 10px;
  /* vertical-align: middle; */
}
.buy ul:first-of-type {
  padding-bottom: 40px;
}

.logo-platforms-grid {
  display: grid;
  width: 320px;
  height: 186px;
  padding-left: 2px;
  grid-template-columns: 62px 178px;
  grid-template-rows: 35px 50px;
  column-gap: 100px;
  row-gap: 40px;
}

.logo-platforms-grid img:nth-child(1) {
  width: 62px;
  height: 35px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.logo-platforms-grid img:nth-child(2) {
  width: 178px;
  height: 35px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.logo-platforms-grid img:nth-child(3) {
  width: 58px;
  height: 50px;
  grid-column: 1/2;
  grid-row: 2/3;
}

.logo-platforms-grid img:nth-child(4) {
  width: 168px;
  height: 35px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer {
  width: 1920px;
  height: 140px;
  background-color: white;
}

.footer-bar {
  width: 1280px;
  margin: 0px auto;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bar div {
  width: 640px;
  height: 100px;
}
.footer-bar .footer-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-bar .footer-images {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-images img:first-child {
  width: 296px;
  height: 74px;
}
.footer-images img:last-child {
  width: 172px;
  height: 74px;
  margin-left: 35px;
}
.footer-text span {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 40px;
}

.footer-copyright {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: white;
  background-color: #000000;
  width: 1920px;
  height: 40px;
  text-align: center;
  padding-top: 14px;
}
