@font-face {
  font-family: 'Archangelsk';
  src: url('src/fonts/Archangelsk.ttf') format('truetype');
}
/* some changes */
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Archangelsk';
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}
.header {
  /* padding: px 0 0 0; */
  display: flex;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  width: 66%;
  height: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 30px;
  margin-right: 5px;
}
.logo {
  background: no-repeat url('src/images/Cyberpunk_2077_logo\ 1.png');
  /* background-size: 100% 100%; */
  width: 296px;
  height: 74px;
}
.hidden {
  display: none;
}
.icon {
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(248, 242, 0, 0);
}
.icon-youtube {
  background-image: url('src/images/logotypes/youtube logo.svg');
  background-size: 100% 100%;
}
.icon-vk {
  background-image: url('src/images/logotypes/vk logo.svg');
  background-size: 100% 100%;
}
.icon-facebook {
  background-image: url('src/images/logotypes/facebook-rect logo.svg');
  background-size: 100% 100%;
}
.icon-twitter {
  background-image: url('src/images/logotypes/twitter-square logo.svg');
  background-size: 100% 100%;
}
.icon-twitch {
  background-image: url('src/images/logotypes/twitch logo.svg');
  background-size: 100% 100%;
}
.icon-instagram {
  background-image: url('src/images/logotypes/instagram-square logo.svg');
  background-size: 100% 100%;
}

.section {
  max-width: 1280px;
  /* max-height: 1000px; */
  width: 67%;
  height: 100%;
  padding-left: 320px;
  padding-right: 320px;
}

.vi {
  max-width: 1920px;
  width: 100%;
  height: 1000px;
  background: no-repeat url('src/images/11.png');
  background-size: 1920px 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.vi > .section {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  padding-left: auto;
  padding-right: auto;
}
.platforms {
  max-width: 624px;
  width: 50%;
  height: 369px;
  background-image: linear-gradient(
    135deg,
    rgba(248, 242, 0, 0) 5%,
    rgba(248, 242, 0, 1) 5%,
    rgba(248, 242, 0, 1) 20%,
    rgba(248, 242, 0, 1) 95%,
    rgba(248, 242, 0, 0) 95%
  );
}

.platforms p {
  text-align: left;
  font-size: 62px;
  font-weight: 400;
  line-height: 63px;
  /* size: 484px; */
  font-family: 'Archangelsk';
}
.platforms p,
.platforms button {
  margin-left: 60px;
  margin-bottom: 20px;
}

.about {
  background: #000000;
  width: 272px;
  height: 78px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 40px;
  color: rgba(248, 242, 0, 1);
  font-weight: 700px;
  text-align: center;
  border: none;
}

.nite-city {
  max-width: 1280px;
  width: 100%;
  /* height: 777px;
  padding-bottom: 70px; */
  /* padding-left: 320px;
  padding-right: 320px; */
}
h2 {
  font-size: 62px;
  line-height: 63px;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 0px;
  font-weight: 400;
}
p {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 1);
}

.nite-city a,
.play a {
  color: rgb(18, 145, 224);
  text-decoration: none;
  font-weight: 700;
}

.fotos-grid {
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  grid-template-rows: 1fr 1fr;
  gap: 34px;
  padding-bottom: 50px;
}

.fotos-grid img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.fotos-grid img:first-of-type {
  grid-column: 1/2;
}

.fotos-grid img:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.fotos-grid img:last-of-type {
  grid-column: 2/3;
  grid-row: 1/3;
}

.white-black-gradient {
  background-image: url('src/images/22\ 1.png');
  height: 70px;
  width: 100%;
  max-width: 1920px;
}

.black-yellow-gradient {
  background-image: url('src/images/22\ 2.png');
  height: 70px;
  width: 100%;
  max-width: 1920px;
}

.play {
  /* max-width: 1280px;
  width: 100%; */
  height: 814px;
  /* padding: auto; */
  /* padding: 0 310px; */
  background-color: #000000;
}

.play > .header {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  margin-right: auto;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.play > .playstation {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* margin-bottom: 70px; */
  /* flex-wrap: wrap; */
}
.play h2 {
  color: white;
  padding-left: 30px;
  font-size: 62px;
  line-height: 63px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0px;
}
.play p {
  color: white;
}

.play .ps-box-image {
  max-width: 788px;
  width: 100%;
  max-height: 456px;
  height: 100%;
}
.screnshot-form {
  max-width: 460px;
  margin-top: 96px;
  width: 100%;
  height: 383px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.play .form {
  height: 383px;
}
.screnshot-input {
  background-color: #000000;
  border: none;
  padding: 0;
  border-bottom: 1px solid #777777;
  height: 34px;
  color: white;

  /* font-size: 18px; */
  /* line-height: 34px; */
  /* font-weight: 400; */
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin-bottom: 35px;
}
.screnshot-input::placeholder {
  /* stroke:  #ffffff #000000 ; */
  color: #ffffff;
  font-size: 18px;
  line-height: 34px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}
.screnshot-button {
  background-color: rgba(248, 242, 0, 1);
  width: 192px;
  height: 59px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 40px;
  color: black;
  font-weight: bold;
  /* text-align: center; */
  border: none;
}

.file {
  border: 1px dashed #777777;
  height: 118px;
  padding: 0px;
  /* margin-bottom: 35px; */
}

.agree {
  padding-top: 15px;
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
}
.agree-label {
  color: #777777;
  font-size: 12px;
  line-height: 12px;
  /* font-weight: lighter; */
  font-family: 'Roboto', sans-serif;
}
.hp {
  /* max-width: 1280px;
  width: 100%; */
  height: 676px;
  /* padding-left: auto;
  padding-right: auto; */
  padding-top: 100px;
  background-color: rgba(248, 242, 0, 1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap: 32px;
}

.monitor-hp {
  max-width: 624px;
  width: 100%;
}
.deep-hp {
  grid-column: 2/3;
  grid-row: 1/3;
  max-width: 624px;
  width: 100%;
}

.deep-hp h2 {
  margin-top: 0px;
}

.deep-hp ul {
  padding-left: 0px;
}
.deep-hp ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  list-style-type: none;
  padding-bottom: 15px;
  /* vertical-align: middle; */
}

.deep-hp ul li:first-of-type::before {
  content: '';
  background-image: url('src/images/logotypes/color_lens.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.deep-hp ul li:nth-of-type(2):before {
  content: '';
  background-image: url('src/images/logotypes/auto_awesome.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding-right: 10px;
  padding-top: 4px;
  display: inline-block;
  vertical-align: middle;
}
.deep-hp ul li:last-of-type:before {
  content: '';
  background-image: url('src/images/logotypes/auto_awesome_motion.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5px;
}
.deep-hp .about {
  margin-top: 20px;
}
.logos {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  width: 540px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 30px; */
}

.buy {
  max-width: 1920px;
  width: 100%;
  height: 717px;
  display: flex;
  padding: 0;
}

.buy img {
  max-width: 960px;
  width: 50%;
}

.buy h2 {
  color: white;
}
.buy h3 {
  font-family: 'Roboto', sans-serif;
  color: rgb(82, 190, 220);
  font-size: 24px;
  font-weight: 700px;
  line-height: 28px;
}
.buy > div {
  background-color: #000000;
  max-width: 960px;
  width: 50%;
  padding-left: 26px;
}
.buy ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: white;
  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 10px;
  /* vertical-align: middle; */
}
.buy ul:first-of-type {
  padding-bottom: 40px;
}

.logo-platforms-grid {
  display: grid;
  width: 320px;
  height: 186px;
  padding-left: 2px;
  grid-template-columns: 62px 178px;
  grid-template-rows: 35px 50px;
  column-gap: 100px;
  row-gap: 40px;
}

.logo-platforms-grid img:nth-child(1) {
  width: 62px;
  height: 35px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.logo-platforms-grid img:nth-child(2) {
  width: 178px;
  height: 35px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.logo-platforms-grid img:nth-child(3) {
  width: 58px;
  height: 50px;
  grid-column: 1/2;
  grid-row: 2/3;
}

.logo-platforms-grid img:nth-child(4) {
  width: 168px;
  height: 35px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer {
  max-width: 1880px;
  width: 100%;
  height: 140px;
  background-color: white;
}

.footer-bar {
  width: 1280px;
  margin: 0px auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bar div {
  width: 640px;
  height: 100px;
}
.footer-bar .footer-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-bar .footer-images {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-images img:first-child {
  width: 296px;
  height: 74px;
}
.footer-images img:last-child {
  width: 172px;
  height: 74px;
  margin-left: 35px;
}
.footer-text span {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 40px;
}

.footer-copyright {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: white;
  background-color: #000000;
  max-width: 1920px;
  width: 100%;
  height: 26px;
  text-align: center;
  vertical-align: middle;
  /* padding-top: 14px; */
  padding: 14px 0 0 0;
}
